{
  # Global options
  admin off
}

localhost {
  tls /path/to/localhost+2.pem /path/to/localhost+2-key.pem
  encode gzip zstd

  reverse_proxy 127.0.0.1:3000
}

# Replace the TLS paths with your mkcert files, e.g., in your project root.

